version: "3.8"

services:
  app:
    build: .
    container_name: rbac-expressjs-app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      redis:
        condition: service_started
      mysql:
        condition: service_healthy
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=41199smpK
      - DB_NAME=rbac_express
    restart: unless-stopped

  redis:
    image: "redis:alpine"
    container_name: rbac-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

  mysql:
    image: "mysql:8.0"
    container_name: rbac-mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=41199smpK
      - MYSQL_DATABASE=rbac_express
      - MYSQL_USER=root
      - MYSQL_PASSWORD=41199smpK
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-p41199smpK",
        ]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 30s
    restart: unless-stopped

volumes:
  redis-data:
  mysql-data:
